<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  layout:decorate="~{fragments/main_layout}" 
  >
<head>
<meta charset="UTF-8" />
<title>Gestion operation</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
 <div class="col-md-6" >
 <div class="card border-primary mb-3" >
  <div class="card-header"><h3>Consultation d'un compte</h3> </div>
  <div class="card-body">
    <form th:action="@{/consulterCompter}" method="GET">
  <div class="form-group row">
      <label for="code" class="col-sm-2 col-form-label">Compte</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="codeCpte" id="code" th:value="${codeCompte}">
          <span class="text-danger" th:if="${exception}" th:text="${exception}"></span>
      </div>
      <div class="col-sm-3">
      <button type="submit" class="btn btn-primary">Valider</button>
      </div>
    </div>
  </form>
  </div>
</div>


<div class="card border-primary mb-3" th:if="${compte}">
  <div class="card-header"><h3>Information sur le compte</h3></div>
  <div class="card-body">
  <div class="form-group">
   <label>Client:</label>
    <label th:text="${compte.client.nom}"></label>
  </div>
  <div class="form-group">
   <label>Numero de compte:</label>
    <label th:text="${compte.numCompte}"></label>
  </div>
    <div class="form-group">
   <label>Solde disponible:</label>
    <label th:text="${compte.solde}"></label>
  </div>
   
    <div class="form-group">
   <label>Date de creation:</label>
    <label th:text="${compte.dateCreate}"></label>
  </div>
   
    <div class="form-group">
   <label>Type de compte:</label>
    <label th:text="${compte.class.simpleName}"></label>
  </div>
  
  <div class="form-group" th:if="${compte.class.simpleName=='CompteCourante'}" >
   <label>Découvert :</label>
    <label th:text="${compte.decouvert}"></label>
  </div>
  
   <div class="form-group" th:if="${compte.class.simpleName=='CompteEpagne'}" >
   <label>taux :</label>
    <label th:text="${compte.taux}"></label>
  </div>
  
  </div>
</div>


  
</div>
<div class="col-md-6" th:if="${compte}">
<div class="card border-primary mb-3" sec:authorize="hasRole('ROLE_ADMIN')">
  <div class="card-header"><h3>Operation sur le compte</h3> </div>
  <div class="card-body">
   <form action="/saveOperation" method="post">
    <input type="hidden" class="form-control" name="codeCpte" id="code" th:value="${codeCompte}">
   <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="typeOperation" id="inlineRadio1" value="VERS"
  checked="checked" onchange="document.getElementById('forVirement').style.display='none'">
  <label class="form-check-label" for="inlineRadio1">Versément</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="typeOperation" id="inlineRadio2" value="RETR"
  onchange="document.getElementById('forVirement').style.display='none'">
  <label class="form-check-label" for="inlineRadio2">Retrait</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="typeOperation" id="inlineRadio3" value="VIR" 
   onchange="document.getElementById('forVirement').style.display='block'">
  <label class="form-check-label" for="inlineRadio3">Virement</label>
</div>

<div class="form-group" id="forVirement" style="display: none">
    <label for="formGroupExampleInput">Virément ver</label>
    <input type="text" class="form-control" name=codeCpte2 id="formGroupExampleInput" placeholder="Entre le numéro du compte">
  </div>
  <div class="form-group">
    
    <input type="text" class="form-control" id="formGroupExampleInput1" name="montant" placeholder="Entre le montant">
  <span class="text-danger"  th:text="${#httpServletRequest.getParameter('error')}"></span>
  </div>
   <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Valider</button>
    </div>
  </div>
   </form>
 
  </div>
</div>


<div class="card border-primary mb-3" >
  <div class="card-header"><h3>Liste des operations</h3></div>
  <div class="card-body">
  
   <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Compte</th>
      <th scope="col">Type</th>
      <th scope="col">Date</th>
      <th scope="col">Montant</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-default" th:each="o:${listeOperation}">
      <td th:text="${o.numero}"></td>
		<td th:text="${o.class.simpleName}"></td>
	   <td th:text="${o.dateCreation}"></td>
	  <td th:text="${o.montant}"></td>
    </tr>
  </tbody>
</table>
  
   
  
  </div>
</div>

</div>
</div>
  </div>
</body>
</html>